<div class="empAddedModal">
    <div class="modal" id="empAdded">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">Employee Added Succesfully!!</div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="closeEmpAddedModal()" type="button" id="empAddclose"
                        class="btn closebutton" data-bs-dismiss="modal">
                        Okay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>