<div class="modal" id="delSuccessfully">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">Employee Deleted Succesfully!!</div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button onclick="closeEmpDeletedModal()" type="button" id="empAddclose"
                    class="btn closebutton" data-bs-dismiss="modal">
                    Okay
                </button>
            </div>
        </div>
    </div>
</div>
