<div class="editModal">
    <div class="modal" id="editedSuccessfully">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">Employee Edited Succesfully!!</div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="closeEmpEditModal()" type="button" id="empEditclose"
                        class="btn closebutton" data-bs-dismiss="modal">
                        Okay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>