<div class="pagenumber">
    <nav aria-label="Page navigation example">
        <div class="pagination" id="pagination">
            <button class="page-item" id="previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
            <!-- <li id="pagenumbers"></li> -->
            <!-- <li class="page-item">
                <a class="page-link aLink" href="#" aria-label="Previous">
                    <span aria-hidden="true"> &lt;</span>
                </a>
            </li>-->
            <div id="pagenumbers"></div>
            <!-- <li class="page-item"><a class="page-link aLink" href="#">2</a></li>
            <li class="page-item"><a class="page-link aLink" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link aLink" href="#" aria-label="Previous">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>  -->
            <button class="page-item" id="next">
                <!-- <a class="page-link aLink" aria-label="Next"></a> -->
                <span aria-hidden="true">&raquo;</span>
            </button>
        </div>
    </nav>
</div>