<table class="employeesTable" id="employeesData">
    <thead>
        <tr class="tableHeading">
            <th>
                <select>
                    <option selected value="Sl.No">Sl.No</option>
                </select>
            </th>
            <th>
                <select>
                    <option selected value="Name">Name</option>
                    <!-- <option value="Email">Email</option>
            <option value="Phone">Phone</option>
            <option value="Gender">Gender</option>
            <option value="DOB">DOB</option>
            <option value="Country">Country</option>
            <option value="State">State</option>
            <option value="Qualification">Qualification</option>
            <option value="Username">Username</option> -->
                </select>
            </th>
            <th>
                <select>
                    <option selected value="Email">Email</option>
                </select>
            </th>
            <th>
                <select>
                    <option selected value="Phone">Phone</option>
                </select>
            </th>
            <th>
                <select>
                    <option selected value="Gender">Gender</option>
                </select>
            </th>
            <th>
                <select>
                    <option selected value="DOB">DOB</option>
                </select>
            </th>
            <th>
                <select>
                    <option selected value="Country">Country</option>
                </select>
            </th>
            <th><button></button></th>
        </tr>
    </thead>
    <tbody id="tablebody"></tbody>
    <!-- <tr class="tablerow">
<td>#01</td>
<td><span><img class="userpic" src="img/user8.png" alt="user"> Mr.Michael Johnson</span></td>
<td>michaeljohnson@example.com</td>
<td>5551234567</td>
<td>Male</td>
<td>10 December 1985 </td>
<td>USA</td>
<td id="threedots">
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"><span class="material-symbols-outlined">
                more_horiz
            </span>
        </button>
        <div class="employeebtn">
            <ul aria-labelledby="dropdownMenuButton1">
                <li id="visibilitybtn"><a class="dropdown-item" href="#"><span
                            class="material-symbols-outlined">
                            visibility
                        </span>View Details</a></li>
                <li id="editbtn"><a class="dropdown-item" href="#"><span
                            class="material-symbols-outlined">
                            edit
                        </span>Edit</a></li>
                <li id="deletebtn"><a class="dropdown-item" href="#"><span
                            class="material-symbols-outlined">
                            delete
                        </span>Delete</a></li>
            </ul>
        </div>

 </div>
</td>
</tr>
<tr class="tablerow">
<td>#02</td>
<td><span><img class="userpic" src="img/user-cover-4.png" alt="user"> Mr.Michael Johnson</span>
</td>
<td>michaeljohnson@example.com</td>
<td>5551234567</td>
<td>Male</td>
<td>10 December 1985 </td>
<td>USA</td>
<td>
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"><span class="material-symbols-outlined">
                more_horiz
            </span></button>
        <div class="employeebtn">
            <ul aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            visibility
                        </span>View Details</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            edit
                        </span>Edit</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            delete
                        </span>Delete</a></li>
            </ul>
        </div>

    </div>
</td>
</tr>
<tr class="tablerow">
<td>#03</td>
<td><span><img class="userpic" src="img/user4.png" alt="user"> Mr.Michael Johnson</span></td>
<td>michaeljohnson@example.com</td>
<td>5551234567</td>
<td>Male</td>
<td>10 December 1985 </td>
<td>USA</td>
<td>
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"><span class="material-symbols-outlined">
                more_horiz
            </span></button>
        <div class="employeebtn">
            <ul aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            visibility
                        </span>View Details</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            edit
                        </span>Edit</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            delete
                        </span>Delete</a></li>
            </ul>
        </div>

    </div>
</td>
</tr>
<tr class="tablerow">
<td>#04</td>
<td><span><img class="userpic" src="img/user7.png" alt="user"> Mr.Michael Johnson</span></td>
<td>michaeljohnson@example.com</td>
<td>5551234567</td>
<td>Male</td>
<td>10 December 1985 </td>
<td>USA</td>
<td>
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"><span class="material-symbols-outlined">
                more_horiz
            </span></button>
        <div class="employeebtn">
            <ul aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            visibility
                        </span>View Details</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            edit
                        </span>Edit</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            delete
                        </span>Delete</a></li>
            </ul>
        </div>

    </div>
</td>
</tr>
<tr class="tablerow">
<td>#05</td>
<td><span><img class="userpic" src="img/user6.png" alt="user"> Mr.Michael Johnson</span></td>
<td>michaeljohnson@example.com</td>
<td>5551234567</td>
<td>Male</td>
<td>10 December 1985 </td>
<td>USA</td>
<td>
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"><span class="material-symbols-outlined">
                more_horiz
            </span></button>
        <div class="employeebtn">
            <ul aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            visibility
                        </span>View Details</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            edit
                        </span>Edit</a></li>
                <li><a class="dropdown-item" href="#"><span class="material-symbols-outlined">
                            delete
                        </span>Delete</a></li>
            </ul>
        </div>

    </div>
</td> -->
    <!-- </tr> -->
</table>